* {
  margin: 0;
  padding: 0;
}

body {   

  color: #010c18;
  font-family: "Cinzel", sans-serif;
}

.clock{
  font-size: 3rem;
  font-weight: bold;
  background-color: #243358;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin: -222px 930px -20px 20px;
}

.imgga{
  margin: -29px 10px 100px 310px; 
}

.h3dnipost{
  margin: 125px 910px 0px 260px;
  color:  #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;  
}

.h4dnitextpost{
  
  margin: 10px 0px 0px 280px;
  color:  #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;  
}


.fieldset {
  text-align: center;
  margin: -92px 14px 50px 950px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #243358;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}



.h1v2{
  margin: -80px -528px 0px -450px;
  color:  #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2.8em;
  text-align: center;
}

.h3dni{
  margin:  -38px -728px 0px 350px;
  color: #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;
}


.h3alum{
  margin: 20px 850px 0px 254px;
  color:  #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;
}

.h4alum{
  margin: 10px 565px 0px 280px;
  color:  #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;
}

.h3gra{
  margin:  15px -728px 0px 250px;
  color: #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;
}

.h4gra{
  margin: 20px 600px 0px 280px;
  color: #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;
}

.h3sec{
  margin:  -37px 100px 0px 550px;
  color: #243358;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;

}

.h4sec{
  margin: -38px 600px 0px 600px;
  color:  #243358 ;
  font-family: "Cinzel", sans-serif;
  font-size: 2rem;

}

.imgh{
  margin: -320px 600px 0px 810px;
  color:  #02254b;
  font-family: "Cinzel", sans-serif;
  font-size: 2.4em;
  border: 1px solid #000;
}







