* {
  margin: 0;
  padding: 0;
}

body {   
  font-family:Verdana;
  color: #010c18;
  font-family: "Cinzel", sans-serif;

}

.h1f{
  margin: 50px -328px 20px 10px;
  color: #010c18;
  font-family: "Cinzel", sans-serif;
}

.h1v2{
  margin: -100px -728px 30px 400px;
  color: #010c18;
  font-family: "Cinzel", sans-serif;
  font-size: 4.5em;
}

.h3dni{
  margin:  30px -728px 300px 100px;
  color: #010c18;
  font-family: "Cinzel", sans-serif;
  font-size: 3em;  
}

.h4dni{
  margin: -353px -728px 300px 250px;
  color: #02254b;
  font-family: "Cinzel", sans-serif;
  font-size: 2.5em;
}

.h3alum{
  margin:  -260px -728px 280px 90px;
  color: #010c18;
  font-family: "Cinzel", sans-serif;
  font-size: 2.7em;
}

.h4alum{
  margin: -330px 550px 300px 340px;
  color:  #02254b;
  font-family: "Cinzel", sans-serif;
  font-size: 2.4em;
}

.h3gra{
  margin:  -260px -728px 290px 90px;
  color: #010c18;
  font-family: "Cinzel", sans-serif;
  font-size: 2.3em;
}

.h4gra{
  margin: -327px 600px 300px 280px;
  color:  #02254b;
  font-family: "Cinzel", sans-serif;
  font-size: 2.0em;
}

.h3sec{
  margin:  -343px 100px 305px 450px;
  color: #010c18;
  font-family: "Cinzel", sans-serif;
  font-size: 2.3em;

}

.h4sec{
  margin: -345px 600px 300px 680px;
  color:  #02254b;
  font-family: "Cinzel", sans-serif;
  font-size: 2.0em;

}

.imgh{
  margin: -580px 600px 300px 810px;
  color:  #02254b;
  font-family: "Cinzel", sans-serif;
  font-size: 2.4em;
  border: 1px solid #000;
}

.ingre{
  color:  #02254b;
  font-family: "Cinzel", sans-serif;
  font-size: 1.4em;
}



.h2f{

  margin: -160px 0px -55px 200px;
  color: #010c18;
  font-family: "Cinzel", sans-serif;
}



.fieldset {
  position: absolute;
  top: 47%; /* Ajusta la posición vertical según sea necesario */
  left: 45%; /* Coloca el componente en el centro horizontal */
  transform: translateX(200%); /* Ajusta el centro horizontal */
  width: 220px; /* Ajusta el ancho según sea necesario */
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.5));
  
}

#contenedor-reloj,
#fondo,
#hora-digital {
  position: fixed  !important;
  top: 0 !important;
  right: 0 !important;
  width: 300px;
  height: 300px;
  position: relative;
  
}

#fondo {
  background: linear-gradient(white, lightgray);
  border-radius: 50%;
  border: 15px solid black;
  filter: drop-shadow(0 10px 2px rgba(0, 0, 0, 0.5));
}

#contenedor-reloj,
#manecillas {
  position: relative;
  
}

#fondo,
#horas,
#minutos,
#segundos,
#hora-digital,
#puntos  {
  position: absolute;
  
}

#hora-digital {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  font-size: 130%;
  opacity: 0.5;
  
}

#manecillas{
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.5));
  
} 
  h1{
    text-align: center;
    margin: 80px 0 20px 0;
    color: white;
  }
  #subtitulo{
    text-align: center;
    margin-bottom: 80px;
    color: white;
  }
  legend{
    font-size: 1.7em;
    padding: 0 7px;
  }
  fieldset{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
  
  }




